.button {
  background-color: #f1f3f7;
  border: 2px solid #f1f3f7;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
