.timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.timer-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer-number {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}

.timer-period {
  text-transform: uppercase;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}
