body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.container {
  padding: 20px;
  overflow: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 35px;
  margin-top: 0;
}

.light-weight {
  font-weight: normal;
}

.carousel {
  display: flex;
  overflow: auto;
  align-items: flex-start;
  gap: 35px;
  margin-top: 15px;
}

.days {
  display: flex;
  align-items: center;
  gap: 40px;
}
